<div class="container">
    <div id="search">
        <form action="/artist-search" method="GET">
        <input type="text" name="artistSearch">
            <br /><button type="submit">Search for an Artist</button>
        </form>
        <h1>Test

        </h1>
    </div>
</div>