<div class="container">
    <div id="searchContainer">
    <div id="search">
        <form id="form" action="/artist-search" method="GET">
        <input type="text" name="artistSearch">
            <br /><button type="submit">Search for an Artist</button>
        </form>
</div>

    </div>
</div>